*{
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 500px;
}

a{
    text-decoration: none;
    color: #8eecf5;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 100%;
    background-color: #3c096c;
    z-index: 10;
    position: fixed;
    top: 0px;
}

li{
    padding: 14px 0px ;
}

@media screen and (max-width: 580px) {
    nav{
        flex-direction: column;
    }

    ul{
        flex-direction: column;
        align-items: center;
    }
}

#home::before{
    content: '\2302';
    font-weight: bold;
    font-size: 30px;
}

/* End of Nav Bar CSS */

section{
    width: 80vw;
    margin: 50px auto;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

figure{
    width: 300px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 15px;
    transition: 200ms;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    box-shadow: 0px 0px 2px rgb(104,104,104);
}

figure img{
    width: 95%;
    height: 230px;
    padding: 8px;
}

h2{
    font-size: 1.3rem;
}

button{
    font-size: 20px;
    padding: 4px 12px;
    margin-bottom:8px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: background-color 300ms;
    border-radius: 3px;
}

button:hover{
    background-color: #2196f3;
    color: white;
}

figure:hover{
    transform: scale(1.02);
}